body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin-bottom: 32px;
  background-color: rgb(241, 241, 241);
  padding: 0 7%;
}

.top-bar .logo-container {
  display: flex;
}

.top-bar .logo {
  fill: #0fb300;
}

.top-bar .logo-text {
  margin-left: 10px;
  font-style: italic;
  color: rgb(15, 179, 0);
}

.top-bar .home-button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(15, 179, 0);
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
}

.top-bar .search-container {
  display: flex;
  align-items: center;
}

.top-bar .search-input {
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.top-bar .search-button-icon {
  fill: rgb(15, 179, 0);
  margin-left: 10px;
  height: 36px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 0 7%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: right;
}

.items .loading {
  margin: 0 auto;
}
.item {
  border: 2px solid rgb(207, 207, 207);
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 0 20px 10px 0;
  padding: 14px;
  width: 250px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  margin-bottom: 10px;
  text-align: center;
}

.item .item__image {
  margin-bottom: 10px;
  width: 80%;
}

.item .item__add {
  background-color: rgb(0, 153, 0);
  width: 100%;
  color: rgb(241, 241, 241);
  font-weight: 600;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item .item__add img {
  margin-left: 10px;
}

.cart {
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.cart .empty-cart {
  margin: 10px;
  padding: 8px 24px;
  background-color: rgb(255, 117, 117);
  font-size: 18px;
  font-weight: 500;
  align-self: center;
  color: rgb(241, 241, 241);
  border: 0;
  border-radius: 5px;
}

.cart__list {
  display: flex;
  flex-flow: column;
  max-width: 600px;
  align-self: center;
}

.cart__list .cart__items {
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.cart__list .cart__item {
  display: flex;
  line-height: 24px;
  margin: 12px 0;
  justify-content: space-between;
}

.cart__list .item__sku {
  display: none;
}

.cart__list .item__title {
  margin: 0;
}
.cart__list .item__price {
  min-width: 100px;
  margin: 0;
  text-align: end;
}

.cart__list .total-price-container {
  align-self: flex-end;
  font-weight: 600;
}

.cart__list .total-price-container .total-price {
  margin-left: 6px;
}

@keyframes ldio {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio div {
  position: absolute;
  animation: ldio 0.88s linear infinite;
  width: 168.96px;
  height: 168.96px;
  top: 47.52px;
  left: 47.52px;
  border-radius: 50%;
  box-shadow: 0 4.224px 0 0 #0fb300;
  transform-origin: 84.48px 86.592px;
}
.loadingio-spinner-eclipse {
  width: 264px;
  height: 264px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
