  /* 
  #e7ecef
  #274c77
  #6096ba
  #a3cef1
  #8b8c89
   */

body {
  background-color: #E7ECEF;
}


#name {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

#info-perfil {
  font-family: 'Roboto', sans-serif;
}