  /* 
  #e7ecef
  #274c77
  #6096ba
  #a3cef1
  #8b8c89
   */

body {
  background-color: #E7ECEF;
  font-family: 'Roboto', sans-serif;
}


#name {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

#info-perfil {
  color: #6096BA;
}

.list {
  list-style: none;
  margin: 0 0 10px  0;
}