/* 
  #e7ecef
  #274c77
  #6096ba
  #a3cef1
  #8b8c89
   */

body {
  background-color: #e7ecef;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 1em 3em;
  color: #8b8c89;
}

.header {
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.botao{
  text-decoration: none;
  background-color: #8b8c89;
  color: #e7ecef;
  padding: .6em 1em;
  width: 200px;
}


/* 
  #e7ecef
  #274c77
  #6096ba
  #a3cef1
  #8b8c89
   */