/* 
  #e7ecef
  #274c77
  #6096ba
  #a3cef1
  #8b8c89
   */

body {
  background-color: #e7ecef;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #8b8c89;
  margin: 0 10em
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  margin: 2em 0;
}

.name {
  margin-bottom: 0.6em;
}

.buttons-modal {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.botao {
  text-align: center;
  text-decoration: none;
  background-color: #8b8c89;
  color: #e7ecef;
  padding: 0.4em 1em;
  width: 200px;
}

.botao:hover {
  color: #e7ecef;
}

.perfil{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.perfil-cartao {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: .5em;
  padding: 2em 1em;
  background: #8b8c89;
  width: fit-content;
}

.perfil-img {
  height: 300px;
  border-radius: 50%;
  margin-bottom: 2em;
}

.perfil-info {
  text-align: justify;
  font-size: 1.5em;
  width: 50%;
  height: 100%;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icon {
  height: 50px;
  fill: #b8b8b8;;
}

.modal-dialog{
  width: 70%;
}

.lista-circulo{
  list-style: disc;
}

.projetos {
  margin-top: 2em;
}

.projetos ol{
  list-style: decimal;
}

/* 
  #e7ecef
  #274c77
  #6096ba
  #a3cef1
  #8b8c89
   */
