/* 
  #e7ecef
  #274c77
  #6096ba
  #a3cef1
  #8b8c89
   */

body {
  background-color: #e7ecef;
  color: #8b8c89;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0 10em;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Orbitron", sans-serif;
  margin: 2em 0;
}

.name {
  margin-bottom: 0.6em;
}

.buttons-modal {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.botao {
  background-color: #8b8c89;
  color: #e7ecef;
  padding: 0.4em 1em;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.botao:hover {
  color: #e7ecef;
}

.perfil {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.perfil-cartao {
  background: #8b8c89;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em 1em;
  width: fit-content;
}

.perfil-img {
  background: url("../img/perfil.JPG") no-repeat 54% 14%;
  background-size: 140%;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-bottom: 2em;
}

.perfil-info {
  height: 100%;
  font-size: 1.5em;
  text-align: justify;
  width: 50%;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icon {
  fill: #b8b8b8;
  height: 50px;
}

.modal-dialog {
  width: 70%;
}

.lista-circulo {
  list-style: disc;
}

.projetos-lista {
  display: inline-block;
  vertical-align: top;
  margin: 2em 7em 0 0;
}
.projetos-lista ol {
  padding: 0;
  list-style: inside;
}

#footer {
  background-image: linear-gradient(rgb(231, 236, 239), rgb(139, 140, 137) 10%);
  bottom: -2.4em;
  box-shadow: 0 25px 50px rgb(231, 236, 239);
  color: rgb(231, 236, 239);
  padding: 0.5em;
  position: relative;
  right: 10em;
  text-align: center;
  width: calc(100% + 20em);
}

/* 
  #e7ecef
  #274c77
  #6096ba
  #a3cef1
  #8b8c89
   */
