* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-bar-container {
  display: flex;
  justify-content: center;
  background-color: #3b5998;
}

.top-bar {
  width: 100%;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  padding: 15px 0 7px;
  margin: 0 50px;
}

.facebook-logo {
  width: 170px;
}

.facebook-login {
  display: flex;
}

.login-label {
  color: white;
  margin-bottom: 4px;
  font-size: 12px;
}

.login-input {
  padding: 3px;
  margin-right: 10px;
}

.login-input::placeholder {
  color: transparent;
}

#forgot,
#forgot-password {
  text-decoration: none;
  color: #9cb4d8;
  font-size: 12px;
  margin-top: 4px;
}

.form-group {
  display: flex;
  flex-flow: column;
}

.form-control {
  display: flex;
  height: 100%;
}

#button-login {
  margin: 17px 0;
  padding: 2px 6px;
  background-color: rgb(66, 104, 179);
  border: 1px solid rgb(41, 72, 125);
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.main-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px 0;
  height: 100vh;
  background: linear-gradient(white, #d3d8e8);
}

.main-content {
  display: flex;
  width: 980px;
  justify-content: space-between;
}

.left-content {
  width: 565px;
}

#facebook-slogan {
  font-size: 20px;
  font-weight: 600;
  width: 60%;
  color: rgb(14, 56, 95);
  margin-top: 20px;
}

#facebook-networking {
  width: 90%;
}

.right-content {
  width: 400px;
}

.right-content h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.quick-easy {
  font-size: 19px;
}

#form-register {
  margin-top: 20px;
}

.user-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-name input {
  width: 43%;
}

.input-register,
#input-custom {
  margin-bottom: 10px;
  padding: 8px 10px;
  font-size: 18px;
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
}

::placeholder {
  color: #cacaca;
  opacity: 1; /* Firefox */
}

#label-birthdate,
#label-gender {
  color: hsl(220, 6%, 59%);
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
}

.genders {
  display: flex;
}

.genders label {
  margin-right: 10px;
  font-size: 15px;
}

.input-gender {
  margin-right: 5px;
}

#input-custom {
  display: none;
}
.legend {
  color: #777;
  font-size: 11px;
  width: 78%;
  margin: 11px 0;
}

#facebook-register {
  width: 60%;
  background: linear-gradient(#67ae55, #578843);
  padding: 10px 25px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.separator {
  display: none;
}

#facebook-register-hidden {
  width: 60%;
  background: linear-gradient(#67ae55, #578843);
  padding: 10px 25px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 10px;

  display: none;
}

.user-register {
  margin-bottom: 10px;
  font-size: 18px;
}

#invalid-input {
  color: transparent;
  font-size: 20px;
}
#forgot-password {
  display: none;
}

hr {
  border: 0;
  border-top: 1px solid #d4d4d4;
  margin: 10px 0;
  width: 85%;
}

.home-button {
  display: flex;
  flex-flow: column;
  width: 85%;
  align-items: center;
}
.button {
  text-decoration: none;
  margin-top: 17px;
  padding: 10px 20px;
  background-color: rgb(66, 104, 179);
  border: 1px solid rgb(41, 72, 125);
  color: white;
  font-size: 20px;
  font-weight: 600;
}
#footer {
  background-color: rgb(59, 89, 152);
  bottom: 0;
  box-shadow: 0 25px 50px #3b5998;
  color: rgb(231, 236, 239);
  padding: 10px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .top-bar-container {
    background-color: #ffffff;
  }

  .top-bar {
    flex-flow: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .facebook-logo {
    background-color: #3b5998;
    padding: 10px;
    width: 100%;
    height: 25px;
  }

  .facebook-login {
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
  }

  .login-label,
  #forgot {
    display: none;
  }

  .login-input {
    padding: 10px;
    margin: 0;
    width: 100%;
    max-width: 300px;
    border: none;
    background-color: #f5f6f7;
    border: 1px solid rgb(228, 228, 228);
  }

  #user-email-phone {
    border-radius: 4px 4px 0 0;
  }

  #user-password {
    border-radius: 0 0 4px 4px;
  }

  .login-input::placeholder {
    color: #acacac;
  }

  .form-group {
    align-items: center;
    width: 100%;
  }

  .form-control {
    width: 100%;
    justify-content: center;
  }
  #button-login {
    width: 100%;
    max-width: 320px;
    padding: 10px 6px;
    border-radius: 5px;
    background-color: #1877f2;
    border: none;
    margin: 10px 0;
  }
  .main-container {
    background: #ffffff;
  }

  .main-content {
    flex-flow: column;
    width: 100%;
    align-items: center;
  }

  .left-content,
  .right-content {
    display: none;
  }

  .separator {
    display: flex;
    width: 100%;
    max-width: 320px;
    align-items: center;
  }

  .separator span {
    margin: 0 10px;
  }

  #forgot-password {
    display: inline;
    color: #7898c9;
  }

  #facebook-register-hidden {
    display: inline-block;
    background: #40a400;
    border: none;
    margin: 20px 0 10px;
    width: 100px;
  }

  hr {
    width: 75%;
  }
}
