body {
  background-color: rgb(253, 251, 251);
  color: rgb(139, 140, 137);
  font-family: Montserrat, sans-serif;
  margin: 0;
}

#cabecalho {
  background-image: linear-gradient(rgb(139, 140, 137) 90%, rgb(231, 236, 239));
  box-shadow: 0 25px 50px rgb(231, 236, 239);;
  color: rgb(231, 236, 239);
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
  z-index: 2;
}

#cabecalho nav {
  margin-bottom: 1em;
}

#cabecalho a {
  color: rgb(231, 236, 239);
  font-size: 1.5em;
  padding: 0 2em;
  text-decoration: none;
}

#principal {
  margin-top: 10em;
  width: 100%;
}

#perfil {
  display: inline-block;
  text-align: center;
  width: calc(30% - 1em);
}

#perfil img {
  border-radius: 20%;
  box-shadow: 3px 3px 10px rgb(139, 140, 137);
  width: 360px;
}

#perfil a {
  color: inherit;
  text-decoration: none;
}

#listas {
  display: inline-block;
  vertical-align: top;
  width: calc(70% - 1em);
}

.lista {
  display: inline-block;
  padding: 1em;
  width: 350px;
}

#sobre_aluno , #sobre_aprendizado {
  display: inline-block;
  line-height: 1.5em;
  margin: 0 .8em;
  width: 48%;
}

.lado-esquerdo {
  float: left;
}

.lado-direito {
  float: right;
}

#tabela {
  clear: both;
  margin: 0 .8em;
}

#rodape {
  background-image: linear-gradient(rgb(231, 236, 239), rgb(139, 140, 137) 10%);
  bottom: -1.8em;
  box-shadow: 0 25px 50px rgb(231, 236, 239);
  color: rgb(231, 236, 239);
  padding: .5em 0;
  position: relative;
  text-align: center;
  width: 100%;
}
